body{
  font-family: 'Lato', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar{
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}


.tabs{
  display: flex;
  justify-content: center;
}

.tabs > button{
  background: #fff;
  padding: 20px 50px;
  border: none;
  outline: none;
}



.blueBox{
  background: #a1b4d8;
  height:calc(100vh - 275px);
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2) inset;
  overflow: hidden;
}

.blueBox1{
  background: #F1F6FE;
  height: calc(100vh - 275px);
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) inset;
  overflow: hidden;

}

.logo--heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.logo--heading > h2{
  color: #646464;
  font-weight: bold;
  font-size: 20px;
}

.logo--heading > button {
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  position: fixed;
  right: 20px;
  top: 20px;
}

.logo--heading > button > span.bar{
 display: block;
  height: 1px;
  background: #000000;
  width: 30px;
  position: relative;
  transition-duration: 200ms;
}

.logo--heading > button >span.bar:before,
.logo--heading > button >span.bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  transition-duration: 200ms;
}

.logo--heading > button > span.bar:before {top: -8px}
.logo--heading > button > span.bar:after {bottom: -8px}

.logo--heading > button.open span.bar {background: transparent}
.logo--heading > button.open span.bar:before {top: 0; transform: rotate(45deg)}
.logo--heading > button.open span.bar:after {bottom: 0; transform: rotate(-45deg)}



.hamburgerMenu > ul{
  font-weight: bold;
  list-style: none;
  position: fixed;
  right: 20px;
  top: 60px;
  opacity: 0;
  transition-duration: 200ms;
}

.hamburgerMenu > ul.show{
  opacity: 1;
}

.box_wrapper{
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 255px);

}


.active{
  border-style: none;
  background: transparent;
}

.causeListTitle{
  text-align: center;
  padding-top: 30px;
}

/*table code */

.tablecontainer{
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

 table, td, th {
  border: 1px solid black;
  text-align: center;
  height: 90px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #B7DCFD;
  text-align: center;
}

.COSP{

  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 20px;
  background:#F1F6FE;
  font-family: loto;
}

.DropDownForm{
  background: white;
  border: #282c34;
  width: 220px;
  height: 40px;
}

/*.PeshkarLoginTabs > tabs{*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*}*/




.whiteBox{
  height: 325px;
  width: 350px;
  background: white;
  border:1px solid lightgray;
}

.whiteBox .column{
  padding: 30px;
}



.PeshkarLoginBlueBox{
  background: #F1F6FE;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1) inset;
}

.CaseStatusSubmitPageTable, tr, td{
  height: 30px;
  background: white;
}

.CaseStatusSubmitPageDiv, p{
  background: white;
  color: black;
}


.causeListTable, tr{
  height: 40px;
}


.causeListTable,tabe, th{
  height: 40px;
  background: #B7DCFD;
  text-align: center;
}

.PeshkarLoginTabs   ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 0rem;
}

.chart{
  height: 350px;
  width: 330px;
}

.setting_menu_main {
  top: 0;
  position: absolute;
  right: -9999px;
  background: #fff;
  width: 100%;
  z-index: 1;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}
.setting_menu_main.open{
  display: inline-block;
  right: 0;


}
span.close_menu {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 40px;
}

.CaseRegistrationBox{
  background: #F1F6FE;
  padding-top: 50px;
  height: calc(100vh - 275px);
}

.TopIconShadow{
  box-shadow:0 4px 4px rgba(0,0,0,0.2) ;
  margin-bottom: 5px;
}

.footer {
  background: #c9d7ef;
  height: 55px;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-A {
  background: #fff;
  height: 55px;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.Master-Login-tabs{
  display: flex;
  justify-content: center;
}

.Master-Login-tabs,  button{
  padding: 20px 50px;

}

