body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top_menu_tab .tabs a{
  padding: 35px 55px;
}
.top_menu_tab .tabs a.active{
  background:#f1f1f1;
}
.top_menu_tab .tabs a img{
  height:65px;
  width: 65px;
}